@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,400&display=swap');

html,
body {
  font-family: 'Rubik';
  font-weight: normal;
}
h1 {
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 0.5rem;
  font-weight: normal;
}

p {
  line-height: 1.5rem;
  font-weight: lighter;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
  }
}

/* changes for stepper component */
#leaving-grave-step-indicator .chakra-step__indicator[data-status='complete'],
#grave-step-indicator .chakra-step__indicator[data-status='complete'] {
  /* Styles for active status */
  border-color: var(--chakra-colors-dark-purple-500) !important;
  background-color: var(--chakra-colors-dark-purple-500) !important;
}

#leaving-grave-step-indicator .chakra-step__indicator[data-status='active'],
#grave-step-indicator .chakra-step__indicator[data-status='active'] {
  /* Styles for active status */
  color: var(--chakra-colors-dark-purple-500) !important;
  border-color: var(--chakra-colors-dark-purple-500) !important;
}
#leaving-grave-step-indicator .chakra-step__separator,
#grave-step-indicator .chakra-step__separator {
  background-color: var(--chakra-colors-dark-purple-500) !important;
}

#leaving-grave-step-indicator .chakra-step__description,
#grave-step-indicator .chakra-step__description {
  color: var(--chakra-colors-dark-purple-500) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  list-style: 17px !important;
  font-family: 'bungee' !important;
  width: 100% !important;
  overflow-wrap: break-word !important;
}
.chakra-step__title,
.chakra-step__title + div {
  width: 100% !important;
  overflow-wrap: break-word !important;
}
.chakra-step__indicator + div {
  width: 100% !important;
  overflow-wrap: break-word !important;
}
@keyframes makeItRain {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100vw) translateY(-100vh);
    opacity: 0;
  }
}

.emoji-rain {
  position: fixed;
  font-size: 48px;
  animation: makeItRain 4s linear forwards;
}
